.col-sm{
    text-align: center;
}

.header-text{
    font-size: 48px;
}

.mid-last-head{
    font-size:40px ;
}
.mid-head, .mid-sec-head{
    font-size:64px;
}

.mid-last-head, .mid-head, .mid-sec-head{
    font-weight: bold;
}

.end-head-select{
    font-size: 32px;
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px;

}

.des, .dot-1 {
    background-color: #E6563B;
}
.dev, .dot-2 {
    background-color: #EB9D3A;
}
.sup, .dot-3 {
    background-color: #7CB06C;
}

.head-image-first{
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    padding-top: 2px;

}

.head-image{
    margin-top: -15px;
    margin-bottom: -13px;
    clip-path: circle(45%);


}


.host, .dot-4 {
   background-color: #00ABA9;
}

.col-down{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: .5em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2px;
}

.container-circle{


}

.des, .dev, .sup, .host{
    text-align: center;
}

.dot {
    height: 25px;
    width: 25px;

    border-radius: 50%;
    display: inline-block;
}

.nav-item{
    text-align: center;
}






.container {

    padding-top: 10px;

}

 @media(max-width: 600px){
       .invissible{
           visibility: hidden;
       }
     }

@media(max-width: 876px){

}


.nav-items{
    text-align: center;
}

.bunch-of-pain{
    text-align: center;
}

.list-circ{
    text-align: center;
}

.mid-headings{
    text-align: center;
}











