@media(max-width: 600px) {
    .invissible{
        visibility: hidden;
    }

    }


first-none .sec-none .third-none .ds-one{


}

.ds-one{
    margin-bottom: 2px;
}

.anoder-none{
    margin-top: 2px;
}